

.footer-wrapper {
    background-color: #cea135;
    padding: 70px 0px 90px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    box-shadow: -15px -16px 99px 2px rgba(0,0,0,0.57);

}

 .footer  {
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0%;
    
} 

.footer img {
    height: 170px;
} 

.footer-wrapper p{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: .5em;
    text-align: center;
}