body {
    background-color: #476C9B;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.go-back-wrapper a {
    transform: rotate(270deg);
    color: #cea135;
    text-decoration: none;
}

.go-back-wrapper {
    font-size: 1.5em;
    padding: 15px 20px;
}

.required {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #984447;
    margin-bottom: 57px;
    font-weight: 700;
    font-size: 1.5rem;

}

/* FORM STYLES */

.order-pt1 > .form {
    display: flex;
    align-items: center;
    justify-content: center;

}

input {
    width: 300px;
    padding: 18px;
    background-color: #8daf95;
    border: 0px;
    transition: .9s;
    outline: 4px #cea135;
    font-size: 18px;
}

input:focus {
    transition: .8s;
    background-color: #C7CEDB;
    outline: 4px #cea135;
    box-shadow: 27px -28px 74px -13px rgba(0,0,0,0.58);
    border-bottom: solid 2px #984447;

}

.address-input, .how-many-input, .phone-input, .color-input {
    font-size: 11px;
    color: #CDCDCD;
}

.how-many-input a {
    text-decoration: underline;
    color: #CDCDCD;
}

.btn-in-form button{
    background-color: #984447;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 15px;
    font-size: 1.11rem;
    color: whitesmoke;
    border: 0px transparent;
    transition: .7s;
    font-weight: bold;

}

.btn-in-form button:hover {
    background-color: #cea135;
    color: #0e326b;
    transition: .8s;
    box-shadow: 30px -4px 89px -5px rgba(0,0,0,0.69);
}

.btn-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 110px;
}


/*footer*/

.footer-order > .copywright {
    color: #2d2d2d;
    font-size: 15px;
}

.footer-order {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-order > .nav-bar-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.footer-order > .nav-bar-links a {
    justify-content: ;
}